body {
  display: block;
  margin: 0;
}

/*=== Colores ===*/
.white {
  color: white;
}

.black {
  color: black;
}

/*===============*/
/*=== Font Size ===*/
.size16 {
  font-size: 16px;
}

.size18 {
  font-size: 18px;
}

/*=================*/
#header {
  height: 550px;
  width: 100%;
  background-image: url("./../images/main-background1.jpg");
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid #ccc;
}

#header-two {
  width: 100%;
  background-image: url("./../images/main-background1.jpg");
  background-size: cover;
  position: fixed;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

a.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.center {
  width: 75%;
  margin: 0px auto;
}

#menu {
  width: 80%;
  float: right;
}

.nav-link {
  position: relative;
}

.nav-link:focus {
  color: #ffffff !important;
}

.nav-link:hover {
  color: #ffffff !important;
}

.main-menu {
  font-weight: 600;
  font-size: 20px;
}

.main-menu li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
}

.main-menu li a {
  color: white;
}

#menu ul {
  line-height: 120px;
  float: right;
  font-weight: 600;
  font-size: 20px;
}

#menu ul li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
  margin-right: 15px;
}

#menu ul li:last-child {
  margin-right: 0;
}

#menu ul li a {
  color: white;
}

#logo {
  width: 20%;
  font-size: 30px;
  float: left;
  margin-top: 12px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

p,
a,
ul,
ol,
form {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

.main-title {
  color: #1767c3;
  font-size: 35px;
}

.img-proyects {
  width: 300px;
  height: 300px;
  display: block;
  border-radius: 150px;
  margin: 0px auto;
}

input {
  width: 100%;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 8px;
}

input.send {
  width: 250px;
  background-color: darkcyan;
  color: white;
  margin: 0 auto;
  display: block;
}

textarea {
  width: 100%;
  border-radius: 8px;
}

#footer {
  background: #1666c3;
  width: 100%;
  height: 70px;
  line-height: 70px;
  display: inline-block;
}

#footer p {
  margin: 0px;
  padding: 0px;
  color: white;
}

.img-general {
  margin: 0 auto;
  display: block;
}

.topForm {
  background-image: linear-gradient(306.65deg, #0a6bc4 0%, #00a9e3 100%);
  border-radius: 10px 10px 0 0;
  padding-bottom: 12px;
}

.topForm .texto-form {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: -8px;
  margin-bottom: 0px;
  letter-spacing: 1.27px;
  line-height: 24px;
  padding-top: 14px;
  color: #fff;
  text-align: center;
}

.backgroundForm {
  background-color: #fff;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 0 11px 0 rgba(0, 0, 0, 0.2);
}

.mainForm input {
  width: 100%;
  border: 1px solid #d8d8d8;
  color: #5f5f5f;
  outline: none;
  border-radius: 7px;
  margin: 10px 0;
  padding: 5px 0;
  padding-left: 10px;
}

.mainForm textarea {
  width: 100%;
  border: 1px solid #d8d8d8;
  color: #5f5f5f;
  outline: none;
  border-radius: 7px;
  height: 98px;
  margin-top: 10px;
  padding-left: 10px;
}

#trabajemos {
  background-image: linear-gradient(306.65deg, #0a6bc4 0%, #00a9e3 100%);
  border-radius: 7px;
  color: #fff;
  padding: 0px;
}

#whatsApp {
  padding: 5px;
  width: 100%;
  display: block;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: #1bd695;
  color: #fff;
  text-decoration: none;
}

.section-one {
  margin-top: 70px;
}

.section-two {
  margin-top: 100px;
}

.section-three {
  margin-top: 100px;
}

.subtitle-section-one, .title-section-one {
  font-size: 21px;
  letter-spacing: 0.97px;
  line-height: 29.82px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.title-section-one {
  font-size: 35px;
  font-weight: 800;
  letter-spacing: 1.03px;
  line-height: 40px;
  margin-bottom: 5px;
}

.general-content {
  margin-top: 105px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.imagen-section-one {
  width: 90%;
  padding-top: 20px;
}

.recuadroNuevo {
  background-color: #ffffff;
  color: #333333;
  border-radius: 31px;
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
  height: 230px;
  margin: 20px 0px;
  padding: 10px 25px;
}

.recuadroNuevo:hover {
  box-shadow: 1px 1px 12px 3px rgba(125, 125, 125, 0.5);
  transition: 0.8s;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.05);
}

.recuadroNuevo p {
  color: #333333;
  font-size: 16px;
  letter-spacing: 0.57px;
  line-height: 21.82px;
  text-align: center;
}

.text-title {
  color: #ff7961;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.45px;
  line-height: 32.74px;
  text-align: center;
}

.content-social-bar {
  position: fixed;
  z-index: 30;
  top: 45%;
  bottom: 50%;
  right: 0%;
  display: block;
}

.content-social-bar .redes {
  bottom: 50%;
  right: .5%;
  display: block;
  background-color: #fff;
  color: #fff;
  background-repeat: no-repeat;
  line-height: 16px;
  z-index: 999;
  width: 30px;
  height: 30px;
}

.content-social-bar .fb {
  background-image: url(./../images/face_color.png);
  background-position: center;
  padding: 20px;
  border-bottom: 1px solid #D8DFE5;
  border-left: 1px solid #D8DFE5;
  border-top: 1px solid #D8DFE5;
  border-radius: 10px 0 0;
}

.content-social-bar .fb:hover {
  transition: .2s;
  background-color: #1a77f2;
  background-image: url(./../images/face_blanco.png);
}

.content-social-bar .ins {
  background-image: url(./../images/insta_color.png);
  background-position: center;
  border-bottom: 1px solid #D8DFE5;
  border-left: 1px solid #D8DFE5;
  padding: 20px;
}

.content-social-bar .ins:hover {
  transition: .2s;
  background-color: #9036b0;
  background-image: url(./../images/insta_blanco.png);
}

.content-social-bar .twit {
  background-image: url(./../images/twitter_color.png);
  background-position: center;
  padding: 20px;
  border-bottom: 1px solid #D8DFE5;
  border-left: 1px solid #D8DFE5;
}

.content-social-bar .twit:hover {
  transition: .2s;
  background-color: #1ea1f1;
  background-image: url(./../images/twitter_blanco.png);
}

.content-social-bar .linkedin {
  background-image: url(./../images/linkedin_color.png);
  background-position: center;
  padding: 20px;
  border-radius: 0 0 0 10px;
  border-bottom: 1px solid #D8DFE5;
  border-left: 1px solid #D8DFE5;
}

.content-social-bar .linkedin:hover {
  transition: .2s;
  background-color: #0b60b8;
  background-image: url(./../images/linkedin_blanco.png);
}

@media screen and (max-width: 767px) {
  .btn-portfolio {
    display: none;
  }
  #menu {
    width: 65%;
  }
  #menu ul {
    line-height: 30px;
    font-size: 27px;
  }
  #menu ul li {
    display: block;
    margin-bottom: 35px;
  }
  #header {
    height: 430px;
  }
  #content {
    margin-bottom: 25px;
  }
  .recuadroNuevo {
    height: 280px;
  }
}

@media screen and (max-width: 991px) {
  #header-two {
    height: auto;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .app-logo {
    width: 100px;
  }
  #menu {
    width: 85%;
    float: right;
  }
  .btn-portfolio {
    width: 140px;
    font-size: 20px;
    padding: 3px;
  }
  #header {
    height: 300px;
  }
  #header .center {
    width: 85%;
  }
  #logo {
    width: 15%;
  }
  #menu ul {
    line-height: 70px;
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #menu ul {
    line-height: 70px;
    font-size: 15px;
  }
}
